@use 'mixins' as *;
.header {
  background-color: var(--header-bg);
  min-height: var(--header-height);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 100;

  &__logo {
    display: flex;
    align-items: center;
    height: var(--header-height);

    @include breakpoint-down(small) {
      justify-content: center;
    }
  }
}
