footer,
.footer {
  padding: 4.5rem 0;

  &_content {
    margin: auto;
    text-align: center;
  }

  &_logo {
    height: 3.25rem;
    width: auto;
    margin-bottom: 2rem;
  }

  &_copyright {
    font-size: 0.75rem;
    font-family: $primary-font-stack;
    color: $secondary-color;
    letter-spacing: 0.2em;
  }

  &_social-icons {
    a {
      font-size: 2rem;
      margin-right: 2rem;
      color: $secondary-color;
      transition: 0.25s ease;

      &:last-child {
        margin-right: 0;
      }

      &:hover {
        color: $primary-color;
      }
    }
  }
}
