header,
.header {
  background: $body-color;

  &_navbar {
    padding: 0 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 4.5rem;
    max-width: 67.5rem;
    margin: auto;
  }

  &_navbar-link {
    margin-right: 2rem;
    color: $secondary-color;
    font-size: 1rem;
    font-weight: 700;
    font-family: $primary-font-stack;
    transition: 0.25s ease;

    &:last-child {
      margin-right: 0;
    }
  }
}
