// Main Colors
$primary-color: #ab45e7;
$secondary-color: #ffffff;
$tertiary-color: #bc6aec;
$body-color: linear-gradient(180deg, rgba(171, 69, 231, 0.2) 0%, rgba(0, 0, 0, 0.2) 50%), #170131;

// Container Width
$container-width: 90rem;

// Font Family Stacks
$primary-font-stack: 'Montserrat', 'Open Sans', Arial, Helvetica, sans-serif;
$secondary-font-stack: 'Inter', 'Open Sans', Arial, Helvetica, sans-serif;
$tertiary-font-stack: 'Poppins', 'Open Sans', Arial, Helvetica, sans-serif;
$default-font-stack: 'Open Sans', Arial, Helvetica, sans-serif;
